   <!-- NAVBAR================================================== -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/index.html">MIT Scripts</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="contact"><a href="/index.html">Home</a></li>
                <li><a href="/gettingstarted.html">Getting Started</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Install your own:</li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">MediaWiki</a></li>
                    <li><a href="#">Photo Gallery</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Trac</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Build an app using:</li>
                    <li><a href="#">Turbogears</a></li>
                    <li><a href="#">Django</a></li>
                    <li><a href="#">Ruby on Rails</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">More Services</li>
                    <li><a href="#">Hostname ([yourproject].mit.edu)</a></li>
                    <li><a href="#">SQL Database Storage</a></li>
                    <li><a href="#">Mail Processing</a></li>
                    <li><a href="#">Task Scheduling (cron)</a></li>
                    <li><a href="#">Version Control</a></li>
                  </ul>
                </li>
                <li><a href="#contact">Support</a></li>
                <li><a href="#contact">News</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#contact">Contribute</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>